* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header>h1,
nav,
ul,
li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    /* inherits the color from the parent */

}

header>img {
    height: 25px;
}

header>nav>ul {
    margin-left: 60%;
}

@media screen and (max-width:1094px){
    header>nav>ul {
        margin-left: 25%;
    }
}

@media screen and (max-width:610px){
    header>nav>ul {
        margin-left: 0;
    }
}

header>nav>ul>li {
    margin-left: 20px;
}

header {
    padding: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
}

.main {
    background-image: url("img/main.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    /*Ensures the image covers the div completely */
    /* background-position: center; */


}

.submain {
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 80; */
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.submain:hover {
    transform: scale(1.1);
    transition: 1s;
}

.inventory1 {
    display: flex;
    
    /* margin-top: 50px; */
}

@media  screen and (max-width:1063px) {
    .inventory1{
        display: block;
    }
    
}

.inventory1>h3,
p,
h4 {
    margin: 3px;
}

.inventory1>.img1>img {
    width: 400px;
    /* background-size: cover; */
}

.inventory1>.img1>img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.inventory1 {
    margin: 50px;
}

.inventory1>.img1spec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inventory1>.img1spec {
    margin: 50px;
}

/* footer{
    img{
        width: 50px;
        height: 50px;
       
    }
    
} */

footer {
    background-color: black;
}

footer>.logo>a>img {
    width: 50px;
    height: 50px;
}

footer>.logo {
    display: flex;
    justify-content: space-around;

    padding: 50px;
}

footer>h3 {
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
}

footer>.logo>a>img:hover {
    transform: scale(1.4);
    transition: 1s;
}


.lo{
    position: fixed;
    left: 97%;
    top: 450px;
    width: 50px;
    height: 50px;;
}
