* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header>h1,
nav,
ul,
li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    /* inherits the color from the parent */

}

header>img {
    height: 25px;
}

header>nav>ul {
    margin-left: 60%;
}


header>nav>ul>li {
    margin-left: 20px;
}

header {
    padding: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
}

.main {
    /* background-image: url("img/main.jpg"); */
    height: 500px;
    /* width: 100%; */
    /* background-size: cover; */
    /*Ensures the image covers the div completely */
    /* background-position: center; */


}

.main > video{
    position: absolute;
    top: 0%;
    object-fit: cover; 
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;

}

.submain {
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 80; */
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.submain:hover {
    transform: scale(1.1);
    transition: 1s;
}

.inventory1 {
    display: flex;
    
    /* margin-top: 50px; */
}

.inventory1>h3,
p,
h4 {
    margin: 3px;
}

.inventory1>.img1>img {
    width: 400px;
    /* background-size: cover; */
}

.inventory1>.img1>img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.inventory1 {
    margin: 50px;
}

.inventory1>.img1spec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inventory1>.img1spec {
    margin: 50px;
}

/* footer{
    img{
        width: 50px;
        height: 50px;
       
    }
    
} */

footer {
    background-color: black;
}

footer>.logo>a>img {
    width: 50px;
    height: 50px;
}

footer>.logo {
    display: flex;
    justify-content: space-around;

    padding: 50px;
}

footer>h3 {
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
}

footer>.logo>a>img:hover {
    transform: scale(1.4);
    transition: 1s;
}


.lo{
    position: fixed;
    left: 96%;
    top: 450px;
    width: 50px;
    height: 50px;;
}


 @media screen and (max-width:1094px)    /*medium screen */
 {  
    header>nav>ul 
    {
        margin-left: 25%;
    }
}

@media screen and (max-width:632px)      /*medium screen */
{     
    header>nav>ul 
    {
        margin-left: 0%;
    }
}

/* @media screen and (max-width:488px){
    header>nav>ul>li {
        margin-left: 10px;
    }
} */

@media  screen and (max-width:1094px) 
{
    #newmodels>.inventory1>.img1spec>.model_description
    {
        position: relative;
        top: 150px;
        right: 455px;
        width: 900px;
    }
    
}
@media  screen and (max-width:965px) 
{
    #newmodels>.inventory1>.img1spec>.model_description
    {
        position: relative;
        top: 150px;
        right: 455px;
        width: 700px;
    }
}
@media  screen and (max-width:751px) 
{
    #newmodels>.inventory1>.img1spec>.model_description
    {
        position: relative;
        top: 100px;
        right: 357px;
        width: 500px;
    }
    
    .inventory1>.img1>img
    {
        width: 300px;
    }

    .inventory1>.img1spec>h3,h4,.type
    {
        font-size: smaller;
    }

}





@media  screen and (max-width:1094px) 
{
    #newmodels>.inventory1:nth-of-type(2)>.img1spec>.model_description
    {
        position: relative;
        /* top: 150px;
        left: 1px;
        width: 1000px; */
    }
    
}


@media screen and (max-width:1094px)
{
.inventory1 
{
    margin-top: 100px;
}
}

